body{
    background-color: rgb(3, 129, 56);
}
.titulo{
    position: relative;
    font-family: Alba Super;
    font-size: 148px;
    margin: 0px;
    top: 20px;
    text-align: center;
}
.subtitulo{
    position: absolute;
    font-family: Alba Super;
    top: 220px;
    left: 615px;
    text-align: center;
    font-size: 16px;
}
.imagentitulo{
    width: 1330px;
    height: 480px;
    position: absolute;
    top: 120px;
}
h4{
    font-family: Helvetica;
    text-align: justify;
    font-style: italic;
    margin-top: 319px;
}
.imgcorta1{
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 44px;
}
.mono{
    width: 120px;
    height: 95px;
    border-radius: 45px;
    position: relative;
}
.birra1{
    display: flex;
    align-items: center;
    color: brown;
    font-style: inherit;
    font-weight: bolder ;
    top: 500px;
    width: 550px;
    background-color: darkolivegreen;
    border-radius: 25px;
    font-size: 25px;
    
}
.itemspositivos{
    position: absolute;
    top: 885px;
    left: 650px;
    font-family: Air Regular, Tahoma;
    font-size: 32px;
    text-align: right;
}
.img2{
    width: 15px;
    height: 15px;
}
.linkyoutube{
    font-size: 19px;
    font-weight: bolder;
    text-align: left;
    margin: 0px;
}
